// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$purple: rgb(82,20,119);
$light-purple: rgb(158,54,104);
$brown: rgb(165,85,64);
$pink: rgb(242,19,104);
$light-pink: rgb(250,103,171);
$white: rgb(255,255,255);
$black: rgb(0,0,0);

